@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Successful Message";
}

<div class="container-fluid">
    <h1>Your Post Has Been Uploaded Successfully!</h1>
    <p>Thank you for sharing your thoughts with us.</p>
    <img src="~/img/green-correct-icon.png" alt="Image" width="400">
</div>