<!--Font specific for this view-->
<style>
    body {
        font-family: "Manrope", sans-serif;
    }
</style>

@model Page

@{
    ViewBag.Title = "About";
}

<section class="page pt-5 mb-5">
    <div class="container">
        <div class="row">
            <!--Page Content-->
            <div class="col-12">
                <div class="page-image">
                    <img src="~/img/gallery/about-us-image.jpg"
                         alt="Image"
                         class="img-fluid"
                         loading="lazy"
                         style="max-height: 35rem; width: 100%"/>
                </div>

                <div class="page-content">
                    <h1 class="text-center pt-4 pb-4">About Us</h1>
                    <div class="page-text">
                       <p class="lh-lg">
                            I’m Shane, a girly girl and lover of life. Join me on the journey to find latest in fashion. More off this less hello salamander lied porpoise much over tightly circa horse taped so innocuously outside crud mightily rigorous negative one inside gorilla and drew humbly shot tortoise inside opaquely. Crud much unstinting violently pessimistically far camel inanimately.

                            Coquettish darn pernicious foresaw therefore much amongst lingeringly shed much due antagonistically alongside so then more and about turgid wrote so stunningly this that much slew. Forbade panther desolately iguanodon alas in goodness goodness re-laid when wishful but yet and trim hey went the tamarin some during obsessively into far notwithstanding aristocratic a ouch jeez goodness chameleon because piranha. More off this less hello salamander lied porpoise much over tightly circa horse taped so innocuously.
                       </p>
                       <p>
                            Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstac fanny pack nostrud.
                            More off this less hello salamander lied porpoise much over tightly circa horse taped.
                            Crud much unstinting violently pessimistically far camel inanimately.
                            That far ground rat pure from newt far panther crane lorikeet overlay alas cobra across much gosh less goldfinch ruthlessly alas examined and that more and the ouch jeez.
                       </p>
                    </div>
                </div>
            </div>
            <!--SideBar-->
            @*             <div class="col-lg-4">
            <div class="sidebar-wrap">
            <div class="sidebar-widget mb-4">

            </div>
            <div class="sidebar-widget mb-4">

            </div>
            </div>
            </div> *@
        </div>
    </div>
</section>